@model  DevicesManager.Models.Device
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Device</h2>

@using (@Html.BeginForm("Add", "Devices"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
            <button type="submit" class="btn btn-primary">Dodaj</button>
    </div>
}

