@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>
    DEVICES MANAGER  -  .Net Project<br />
    Ewa Szklanny<br />
</p>

<address>
    <strong>Contact:</strong> <a href="mailto:ewa.szklanny95@gmail.com">ewa.szklanny95@gmail.com</a>
</address>