
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Devices Manager</h1>
    @ViewBag.Info
    <p class="lead">Witaj w aplikacji Devices Manager.</p>
   </div>

<div class="row">
    <div class="col-md-4">
        <h2>Rejestracja</h2>
        <p>
           
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Rejestracja &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Logowanie</h2>
        <p></p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Logowanie &raquo;</a></p>
    </div>
</div>