
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Devices Manager</h1>
    @ViewBag.Info
    <p class="lead">Witaj w aplikacji Devices Manager.</p>
   </div>

<div class="row">
    <div class="col-md-4">
        <h2>Rejestracja</h2>
        <p>

        </p>
        <a class="btn btn-default" href=@Url.Action("Register", "Account")>Rejestracja</a>
    </div>
    <div class="col-md-4">
        <h2>Logowanie</h2>
        <p></p>
        <a class="btn btn-default" href=@Url.Action("Login", "Account")>Logowanie</a>
    </div>
</div>