@using DevicesManager.Models;
@model IEnumerable<DevicesManager.ViewModels.ManageUsersViewModel>

@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    string adminCSSClass;
}

<h2>Lista użytkowników</h2>

@Html.Partial("~/Views/Shared/_Modal.cshtml")

<table id="usersTable" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Użytkownik</th>
            <th>Usuń</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            if (user.Role == RoleName.Admin)
            {
                adminCSSClass = "admin";
            }
            else
            {
                adminCSSClass = null;
            }

            <tr class="@adminCSSClass">
                <td>@Html.ActionLink(user.UserFirstName + " " + user.UserSurname, user.UserId, "Users/Details")</td>
                <td>
                    @if (adminCSSClass == null)
                    {
                        <button data-user-id="@user.UserId" data-toggle="modal" data-target="#confirm-delete" class="btn-link js-delete">Usuń</button>
                    }
                    else
                    {
                        <p>X</p>
                    }

                </td>
            </tr>
        }

    </tbody>
</table>
<a class="btn btn-default" href=@Url.Action("Add", "Account")>Dodaj</a>


@section scripts
{
    <script>
        $("button.js-delete").click(function (e) {
            var anchor = this;
            $('#confirm-delete').modal('show').attr('href', $(anchor).attr("data-user-id"));

            console.log("delete click");
            return false;
        });

        $('a#confirm').click(function (e) {
            var button = $(this);
            $('#confirm-delete').modal('hide');
            $.ajax({ 
                type: "GET",
                url: "/users/delete/" + $('#confirm-delete').attr('href'),
                success: function () {
                    location.reload();
                }
            });  
        });
    </script>
}