@using DevicesManager.Models;
@model IEnumerable<DevicesManager.ViewModels.ManageUsersViewModel>

@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    string adminCSSClass;
}

<h2>Users list</h2>

<table id="usersTable" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Użytkownik</th>
            <th>Usuń</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            if (user.Role == RoleName.Admin)
            {
                adminCSSClass = "admin";
            }
            else
            {
                adminCSSClass = null;
            }
        
        <tr>
            <td class="@adminCSSClass">@Html.ActionLink(user.UserFirstName + " " + user.UserSurname, user.UserId, "Users/Details")</td>
            <td>
                <button data-user-id="@user.UserId" class="btn-link js-delete">Usuń</button>
            </td>
        </tr>
        }

    </tbody>
</table>
<a class="btn btn-default" href=@Url.Action("Register", "Account")>Dodaj</a>


@section scripts
{
    <script>
        $(document).ready(function () {
            $("#usersTable .js-delete").on("click", function () {
                var button = $(this);
                if (confirm("Czy na pewno chcesz usunąć tego użytkownika?"))
                    $.ajax({
                        type: "GET",
                        url: "/users/delete/" + $(this).attr("data-user-id"),
                        success: function () {
                            button.parents("tr").remove();
                        }
                    });
            });
        });
    </script>
}